<h1 class="animated fadeIn fast">About Comics App</h1>

<hr>

<p class="animated fadeIn">
    
</p>

<p class="lead text-justify">
    Is a Single Web Application (SPA) made following the
    <a href="https://www.udemy.com/course/angular-2-fernando-herrera/" target="_blank">Angular course</a> 
    imparted in Udemy by the teacher 
    <a href="https://fernando-herrera.com/#/home" target="_blank">Fernando Herrera</a>.
</p>

<p class="text-center mt-5 animated fadeIn">
    Made by 
    <a href="https://www.jesusra.com/" target="_blank">Jesús RA</a>, 2020
</p>