<h1 class="animated fadeIn fast">Abour Comics App</h1>

<hr>

<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo hic, laborum vitae commodi quasi dolorem praesentium sit et porro dolore! Dolor laboriosam ducimus ipsam porro quibusdam amet? Cupiditate, asperiores esse.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit tempora, incidunt ratione asperiores modi, perferendis aut, dignissimos quas dolorum nemo alias dolor tenetur ullam. Blanditiis nostrum eaque assumenda magnam asperiores.
</p>

<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo hic, laborum vitae commodi quasi dolorem praesentium sit et porro dolore! Dolor laboriosam ducimus ipsam porro quibusdam amet? Cupiditate, asperiores esse.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit tempora, incidunt ratione asperiores modi, perferendis aut, dignissimos quas dolorum nemo alias dolor tenetur ullam. Blanditiis nostrum eaque assumenda magnam asperiores.
</p>

<p class="text-center mt-5 animated fadeIn">
    Signed by JRA &copy; 
</p>